/* elimino l'icona azzurra di chiusura nell'input con tipo search */
[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.label-checkbox, [type="checkbox"] {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 5px;
}


.visible{
  display: block;
}

ul{
  padding: 0;
}

// imposto questo colore a tutte le icone
.fas{
  color: #767676;
}

//---------------------- stile bottoni-----------------------------

.btn-danger{
  background-color: #ff5a5f;
  border-color: #ff5a5f;
  &:hover{
    background-color: #e3342f;
  }
}


.btn-primary{
  background-color: #008489;
  border-color: #008489;
  &:hover{
    background-color: #007a87;
  }
}


// ----------------------------stile badge--------------------------
.badge-info{
  background-color: #008489;
  color:white;
}
