footer{
  margin-top: 50px;
  h6{
    font-weight: 900;
  }
  font-weight: bold;
  .sub-footer, ul li a{
    color: $footer-text-color;
    &:hover{
      color: $footer-text-color;
    }
  }
  .footer-section ul{
    list-style-type: none;
  }
}


.footer-section, .sub-footer{
  display: flex;

}

.footer-section{
  padding: 40px 20px 0px 20px;
  border-top: 1px solid #ebebeb;
}

.sub-footer{
  padding: 1rem 20px 20px 20px;
  border-top: 1px solid #ebebeb;

}

.sub-footer-left, .sub-footer-right{
  display: flex;
  align-items: center;
}
// per il logo e '2019 Boolbnb..'
.sub-footer-left{
  justify-content: flex-start;
}
// per 'Italiano' e 'EUR'
.sub-footer-right{
  justify-content: flex-end;
  a{
    color: #767676;
  }
}

 // Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .footer-section, .sub-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sub-footer-left, .sub-footer-right{
    justify-content: center;
  }
  .sub-footer-right{
    margin-top: 10px;
  }
  // per i termini e la privacy
  .privacy-and-terms{
    text-align: center;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px){
  .sub-footer {
    flex-wrap: wrap;
  }
  .sub-footer-left, .sub-footer-right{
    justify-content: center;
  }
  .privacy-and-terms{
    text-align: left;
  }

  .footer-section, .sub-footer-right{
    display: none;
  }
}
