footer{
  margin-top:$mag-top;
  h6{
    font-weight: bold;
  }
  font-weight: bold;
  .sub-footer, ul li a{
    color: $footer-text-color;
    &:hover{
      color: $footer-text-color;
    }
  }
  .footer-section ul{
    list-style-type: none;
  }
}

.footer-section, .sub-footer{
  display: flex;

}

.footer-section{
  padding: 40px 20px 0px 20px;
}

.sub-footer{
  padding: 1rem 20px 20px 20px;
  border-top: 1px solid #ebebeb;

}

.sub-footer-left, .sub-footer-right{
  display: flex;
  align-items: center;
}

.sub-footer-left{
  justify-content: flex-start;
}

.sub-footer-right{
  justify-content: flex-end;
}

// inizio media queries
@media (max-width: 767.98px) and (max-width: 991.98px){
  .footer-section, .sub-footer {
    flex-wrap: wrap;
  }
  .sub-footer-left, .sub-footer-right{
    justify-content: center;
  }
 }

 // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {
//   .footer-section, .sub-footer {
//     flex-wrap: wrap;
//     justify-content: center;
//     padding:10 10 5 5;
//   }
//   .sub-footer-left, .sub-footer-right{
//     justify-content: center;
//     padding:0;
//   }
// }
