.navbar{
  padding: 0 1rem;
}
nav{
 height: 80px;
 line-height: 80px;
  .container-fluid{
    line-height: 80px;
    .airbnb-logo-light{
      width: 34px;
      height: 34px;
      fill: white;
    }
  }
  .navbar-brand:hover{
    border-bottom: none;
  }

  // per il dropdown-menu
  .dropdown-menu{
    position: absolute;
    top: 60px;
    &:hover{
      height: 35px;
    }
    a.dropdown-item{
      line-height: normal;
      padding: 0 10px;
    }
  }
  /*ICON NEW -> OFFRI UNA CASA*/
  .nav-link{
    padding: 0;
    position: relative;
    height: 80px;
  }
  .nav-link.house{
    .badge.house{
      position: absolute;
      height: 15px;
      right: 80px;
      top: 15px;
      }
    }
   .nav-link.upra{
    .badge.upra{
      position: absolute;
      height: 15px;
      right: 130px;
      top: 15px;
    }
  }
  // per tutti i link della navbar
  a{
    color: white;
    &:hover{
      color: white;
      border-bottom: 2px solid white;
    }
  }
  // per lo span che racchiude l'hamburger menu
  .navbar-toggler-icon{
    width: 34px;
    height: 34px;
  }
  // per l'icona dell'hamburger menu, di bianco
  .fa-bars{
    color: white;
    font-size: 34px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px){
  .navbar{
    z-index: 1;
  }
   // per l'icona di airbnb
   .navbar-brand{
     z-index: 1;
   }
  .navbar-nav{
   margin-top: 50px;
  }
  // per l'icona di hamburger menu
  .navbar-toggler{
   z-index: 1;
  }
  #navbarSupportedContent{
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
  }
  .nav-bar-black{
   background-color: #2B3F58;
  }

  .dropdown-menu{
   height: 50px;
   width: 100px;
   background-color: #2B3F58;
   border: 1px solid white;
  }
  a.dropdown-item{
   color: white;
  }
  li.nav-item{
   width: 340px;
   margin-top: 30px;
  a{
    font-size: 24px;
    border-bottom: none;
    a:hover{
     border-bottom: none;
    }
    a:active{
     border-bottom: none;
    }
   }
  }
  // per il badge 'New'
  nav .nav-link.house .badge.house, nav .nav-link.upra .badge.upra{
   position: absolute;
   height: 30px;
  }
  // per la scritta 'New' di 'Offri una casa'
  nav .nav-link.house .badge.house{
    right: 120px;
  }
  // per la scritta 'New' di 'Area Personale UPRA'
  nav .nav-link.upra .badge.upra{
    right: 38px;
  }

}
