.navbar{
  padding: 0 1rem;
}

nav{
  height: 80px;
  line-height: 80px;
  .container-fluid{
    height: 80px;
    line-height: 80px;
    .airbnb-logo-black{
      width: 34px;
      height: 34px;
      fill: $green_logo;
    }
  }
}

// per l'icona di airbnb
.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}

/* badge link statistiche*/
.nav-link.upra{
  .badge.upra-statics{
    position: absolute;
    height: 15px;
    right: 60px;
    top: 15px;
  }
}

/* badge link messages*/
.nav-link.upra{
  .badge.upra-messages{
    position: absolute;
    height: 15px;
    right: 55px;
    top: 15px;
  }
}

@media (max-width: 767px){
  // per l'icona di airbnb
  .navbar-brand{
    z-index: 1;
  }
  // per l'icona di hamburger menu
  .navbar-toggler{
    z-index: 1;
  }
  #navbarSupportedContent{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

  .nav-bar-ligth{
    background-color: $nav-bar-ligth;
  }

  .dropdown-menu{
    height: 50px;
    width: 100px;
  }
  li.nav-item{
    width: 340px;
    margin-top: 30px;
    a{
      font-size: 24px;
      border-bottom: none;
      a:hover{
        border-bottom: none;
      }
      a:active{
        border-bottom: none;
      }
    }
  }
  // margine superiore mobile
  .navbar-deatils-apartment{
    .navbar-nav{
      margin-top: 50px;
    }
  }
  // per il badge 'New'
  .nav-link.upra .badge.upra-statics{
   position: absolute;
   height: 30px;
   right: 156px;
  }
  // per la scritta 'New' di 'Area Personale UPRA'
  nav .nav-link.upra .badge.upra{
    right: 38px;
  }

  // per il badge 'New' di 'Messaggi'
  .nav-link.upra .badge.upra-messages{
    height: 30px;
    right: 168px;
  }
}
