.section-promotion{
  form{
    display: flex;
  }
  // stile banner promozioni
  .input-group{
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 15px;
    transition: 0.5s;
    border-radius: 50px;
    form{
      display: flex;
    }
    cursor: pointer;
    input{
      visibility: hidden;
      position: absolute;
    }

// stile bottone paga
    .pay-button{
      border-radius: 50px;
      position: absolute;
      left: calc(50% - 15px);
      top: 120%;
      a{
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    }

    .section-promotion{
      .input-group{
        font-size: 1.0em;
      }
    }
      &:hover {
        box-shadow: 1px 2px 8px #b0b3b6;
        transform: scale(1.01);
      }
    .badge-warning{
      padding:10px;
      font-size: 1.3em;
      box-shadow: 1px 1px 8px #b0b3b6;
    }
    .price-style{
      font-weight: 900;
      font-size: 1.3rem;

    }
  }
}

// classe che al click applica questo stile
.clicked{
  box-shadow: 1px 2px 8px #b0b3b6;
  transform: scale(1.01);
}
// gli elementi non cliccati hanno un blur
.blur-effect{
  filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px){

  .section-promotion .input-group{
    padding:10px;
  }

  .col-md-6{
    width: 100%;
    max-width: 100%;
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px){

  .section-promotion .input-group{
    padding:10px;
  }

// scalo il font
  .section-promotion{
    display: flex;
    justify-content: center;
    .input-group{
      .badge-warning , .price-style{
        font-size: 1.2em;
      }
    }
  }

  .section-promotion{
    .col-md-6{
      padding:0;
    }
    form{
      flex-direction: column;
    }
  }


}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .section-promotion .input-group{
    padding:10px;
  }

  // scalo il font
    .section-promotion{
      .input-group{
        .badge-warning, .price-style{
          font-size: 1.0em;
        }
      }
    }

  .section-promotion{
    form{
      flex-direction: column;
      justify-content: center;
    }
}

}
