.main-min-90{
  min-height: 90vh;
}

.first-card-container{
  display: flex;
  position: relative;
}
.container-card-promo{
  overflow-x:scroll;
  overflow: hidden;
}

// stile box filtri ricerca
.collapse-filter{
  position: absolute;
   top: 80px;
   z-index: 2;
   left: 0;
   padding: 0.8rem;

}

// stile filtri di ricerca
.u-filter-ch{
  align-items: center;
}


.container-card-promo{
  padding: 20px;
  .card{
    display: inline-block;
    margin-right: 0 !important;
    border-radius: 50px !important;
    img{
      border-radius: 50px 50px 0px 0px !important;
    }
  }
  .col-lg-4, .col-md-6{
    padding: 0;
  }
}

nav .dropdown-menu:hover {
    height: auto;
}

.container-carousel-btn{
  display: flex;
  align-items: center;
  width: 100%;

  .fa-angle-left{
    filter: drop-shadow(2px 1px 2px lightgrey);

    &:before{
      color: white;
      text-shadow: 0 0 0px grey;
    }
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  .fa-angle-right{

    filter: drop-shadow(2px 1px 2px lightgrey);
    &:before{
      color: white;
      text-shadow: 0 0 0px grey;
    }

    position: absolute;
    right: 0;
    cursor: pointer;
  }
}

/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}

.first_section{
  height: calc(100vh - 80px);
  color: $body-font-color;
  z-index: 1;
  .container{
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
  }
 // per il container contenente 'Prenota..', 'DOVE', 'Cerca'
  .booking{
    background-color: white;
    border-radius: 4px;
    padding: 32px;
    padding-bottom: 24px;
    border-radius: 4px;
  }
  // per l'h3, 'Prenota alloggi e attività unici'
  h3{
   font-weight: 600;
  }
  // per 'DOVE'
  strong{
    opacity: 0.8;
  }
  // per il div contenente il bottone 'Cerca'
  div.button_search{
    display: flex;
    justify-content: flex-end;
    // per il bottone 'Cerca'
    a{
      background-color: #ff5a5f;
      color: white;
      border-color: #ff5a5f;
      border-radius: 4px;
      &:hover{
        border-color: #ff5a5f;
      }
    }
  }
}

// .featured_apartments.first-featured-apartments{
//   background-color: $bg_featured;
// }

// seconda sezione appartamenti in evidenza
.featured_apartments{
  h3{
    margin-top: 50px;
  }
  #container_card_ajax, .card-container-flex{
    display:flex;
    justify-content: flex-start;
    margin-top: $mag-top;
    flex-wrap: wrap;
  }



  .card:nth-child(3n+3){
    margin-right: 0;
  }
  .card{
    margin: 20px 0px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    transition: 0.5s;
    /*do un po di profondità alle card*/
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
    // margin: 10px;
    // (1110px - (277.5x3)) / 2
    margin-right: 138.75px;
    &:hover{
      box-shadow: 5px 10px 8px #b0b3b6;
      transform: scale(1.01);
    }
    .card-body{
      padding: 20px;
      margin-top: 10px;
    }
    img{
      height: 175px;
      object-fit: cover;
    }
  }
  // tolgo il padding
  .col-lg-12, .col-lg-3{
    padding: 0;
  }
}


// per la sezione dell'upra
section.upra-section{
  // .card{
  //   margin-right: 35px;
  // }
  .no-home{
    width: 100%;
  }
  .card{
    height: 250px;
    margin-bottom: 30px;
    .col-md-4{
      width: 467px;
    }
    .card-img{
      height: 250px;
      object-fit: cover;
    }
    .card-body{
      padding: 10px 20px;
      .list-unstyled{
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  .btn-group{
    height: 37px;
    margin-top: 20px;
  }
}

// per il container della input text + bottone 'Cerca' della pagina di ricerca
div.search-and-button-container{
  display: flex;
  .form-control{
    width: 350px;
    display: inline-block;
    margin-right: 10px;
  }
  .algolia-places{
    width: auto;
  }
}
// per il container dei filtri della pagina di ricerca
div.filters-container{
  display: flex;
  ul li{
    display: inline-block;
  }
}

.navbar-deatils-apartment{
   .input-group{
     flex-wrap: nowrap;
     button{
       cursor: pointer;
     }
   }
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .main-min-80{
    min-height: 50vh;
  }
  .featured_apartments .card{
    // (960px - (232.5 x 3)) / 2

    margin-right: 116.25px;
    margin-bottom: 30px;
  }
  .featured_apartments .card img{
    height: 150px;
  }
  section.upra-section{
    .card{
      height: 270px;
      .card-img{
        height: 270px;
      }
    }
    .btn-group{
      margin-top: 0;
    }
  }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px){
  .main-min-80{
    min-height: 50vh;
  }

  .featured_apartments .card{
    margin: 0;
    margin-top: 20px;

    img{
      height: 220px;
    }
  }

  .u-filter-ch{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
  }

  section.upra-section{
    .card{
      height: 250px;
      .card-img{
        height: 250px;
      }
      .card-body{
        padding: 0 20px;
      }
    }
  }

}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .main-min-80{
    min-height: 80vh;
  }
  #container_card_ajax{
    margin-top: 0;
  }
  .first-card-container{
    margin-top: $mag-top;
  }
  .featured_apartments .card{
    text-align: center;
    img{
      height: 220px;
    }
  }
  .featured_apartments h3{
    margin-top: 30px;
  }
  section.upra-section{
    .card{
      height: auto;
      padding-bottom: 10px;
      .card-img{
        height: 200px;
      }
      .card-body{
        margin-top: 10px;
      }
    }
  }
  div.search-and-button-container{
    .algolia-places{
      margin-top: 10px;
      margin-right: 10px;
      input.form-control{
        width: 100%;
      }
    }
  }
  div.filters-container{
    li.nav-item {
      width: auto;
      margin-top: 0;
    }
  }


// stile filtri ricerca mobile
  .navbar-deatils-apartment .navbar-nav{
    margin-top: 80px;
  }

  .u-filter-ch{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px !important;
  }

  .collapse-filter{
    margin-top: 50px;
  }

  .container-card-promo{
    .card{
      margin-left: 0 !important;
    }
  }

  .featured_apartments .card-container-flex{
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
