.house-map-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.house-first-section, .house-second-section{
  display: flex;
  flex-wrap: wrap;
}

.first-section-house{
  margin-bottom: 30px;
}
// per l'immagine dell'appartamento
.img-house{
  width: 100%;
  height: 50vh;
  background-image: url("sass/immagini_sito/app-test.jpg");
  background-size: cover;
  background-position: center;
}

.search-map{
  width: 100%;
  height: 50vh;
  background-image: url("sass/immagini_sito/map.jpg");
  background-size: cover;
  background-position: center;
}

.form-house{
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  box-shadow: 1px 0px 1px #ced4da;
  // per dare spazio agli elementi del form per l'invio del messaggio
  h3{
    margin-top: 15px;
  }
  h3, .message-form, button{
    margin-bottom: 15px;
  }
}


@media (max-width: 767.98px){
  // per il container della mappa e dell'appartamento
  .house-map-container{
    display: block;
    // per l'immagine dell'appartamento e della mappa
    .img-house, .search-map{
      height: 30vh;
    }
    .search-map{
      margin-top: 30px;
    }
  }
  .form-house{
    margin-top: 30px;
  }
}

@media (max-width: 991.98px){
  .search-map{
    margin-top: 30px;
  }
}

@media (max-width: 1199.98px){
  .search-map{
    margin-top: 30px;
  }
}
